#slider-container {
	width: 500px;
	height: 400px;
	overflow: hidden;
	transition: transform .5s ease-in-out;
	position: relative;
	left: 0;
	margin-top: 10vh;
	margin-left: 10vw;
}
#slider {
	display: flex;
	position: absolute;
	width: 2500px;
	color: #fff;
	white-space: normal;
	left: 0;
	text-align: center;
}
.slide {
	width: 500px;
	height: 400px;
}
.slide h1 {
}
.slide p {
	margin-top: 20px;
}
#prev {
	display: none;
}