/*

******Fix the backgrounds ratio on resizing 

******Fix the guitarist's position on resizing

******Add basic media queries

******Finalize the design accordign to the mockup

-o, -moz, -webkit prefix not added
Add for cross browser compatibility

border: 1px solid black property added for seeing the visual layout 
Comment the code at the end of making the basic structure 


To add social media icons using the Font-Awesome library

*/

/*Page wide styling*/
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(1, 9, 21);
   /* background-image: url("../img/polybg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#main-body-wrapper{
    display: flex;
    height: 100vh;
}

/*End of Page Wide styling*/

/*Navbar styling*/

nav {
    display: flex;
    flex-flow: row wrap;
    background-color: #ececec;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 10vh;
    border-bottom: 7px solid #4d6892;
}
nav .nav-logo {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
nav .nav-links {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav .nav-links a {
    padding: 15px 20px 15px 20px;
    margin: 0;
    font-size: 3vh;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    box-shadow: inset 0 0 0 0 #4d6892;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: box-shadow ease-in-out 0.3s;
}
nav .nav-links a:hover {
    color: #fff;
    box-shadow: inset 0 80px 0 0 #4d6892;
}
/*Sidebar styling*/

#main-sidebar h1{
}
 
#main-sidebar .navbar{
    align-self: flex-center;
}   
#main-sidebar .navbar ul{
    list-style-type: none;
}

#main-sidebar .navbar ul li {
    padding: 13px;
    color: #ffffff;
    text-decoration: none;
}

#main-sidebar .navbar ul li a{
    color: #ffffff;
}


#main-sidebar #site-info{
}

#site-info #main-logo{
    padding: 10px 0px 20px 0px;
}

#site-info .event-info{
    padding: 10px;
}

#site-info .date-info{
    padding: 3px 0px 0px 0px;
}

#site-info .date-info h5{
    padding: 5px;
}
/*End of Sidebar styling*/

/*Showcase styling*/
#showcase-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}
.showcase-guitarist{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70%;*/
}

/*End of Showcase styling*/
